<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>POC HTMX-Rust</title>

    <link rel="stylesheet" href="assets/reset.css" />
    <link rel="stylesheet" href="assets/main.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
  </head>

  <body style="padding: 10px">
    <div class="px-4 py-5 my-5 text-center">
      <img
        class="d-block mx-auto mb-4"
        src="assets/spongebob-enhancement.jpg"
        alt="Spongebob LOVES Progressive Enhancement"
      />
      <h1 class="display-5 fw-bold">HX-BOOST</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          <code>hx-boost</code> is a pretty cool way of doing
          <a href="https://en.wikipedia.org/wiki/Progressive_enhancement"
            >Progressive Enhancement</a
          >
          on a page.
        </p>
      </div>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          Disable Javascript and do the same navigation operation again (Home >
          Boost)
        </p>
      </div>
    </div>
     
    <script src="assets/htmx.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
