<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="assets/spongebob-enhancement.jpg" alt="Spongebob LOVES Progressive Enhancement" >
    <h1 class="display-5 fw-bold">HX-BOOST</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"><code>hx-boost</code> is a pretty cool way of doing <a href="https://en.wikipedia.org/wiki/Progressive_enhancement">Progressive Enhancement</a> on a page.</p>
    </div>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Disable Javascript and do the same navigation operation again (Home > Boost)</p>
    </div>
  </div>
