<form
  id="my-form"
	method="POST"
 enctype="multipart/form-data"
  style="
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: space-around;
  "
>
  <div style="margin: auto">
    <my-input name="first_name" label="First Name" placeholder="name" required></my-input>
    <my-input name="last_name" label="Last Name" placeholder="name" required></my-input>
    <my-input name="email" label="Email" placeholder="email" required></my-input>
  </div>

  <div>
    <button type="reset">Reset</button>
    <button hx-post="post-form" hx-target="#result" hx-swap="outerHTML">
      Submit
    </button>
  </div>
</form>
