<script src="js/my-input.js"></script>

<form
  id="my-form"
  method="POST"
  hx-post="post-form"
  hx-target="#result"
  hx-swap="innerHTML"
>
  <div class="mb-3">
    <my-input
      name="first_name"
      label="First Name"
      placeholder="name"
      required
    ></my-input>
    <my-input name="last_name" label="Last Name" placeholder="name"></my-input>
    <my-input
      type="email"
      name="email"
      label="Email"
      placeholder="email"
      required
    ></my-input>
  </div>

    <button type="reset" class="btn btn-secondary">Reset</button>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
