<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>POC HTMX-Rust</title>

    <link rel="stylesheet" href="assets/reset.css" />
    <link rel="stylesheet" href="assets/main.css" />
  </head>
  <body style="padding: 10px">
    <h1 style="font-size: 2rem; margin-bottom: 3rem">HTMX - Rust</h1>

    <div
      id="wrapper-form"
      style="margin: 20px"
      hx-trigger="load"
      hx-get="/get-form"
    ></div>

    <div id="result"></div>

    <script src="assets/htmx.min.js"></script>

    <!-- Should not be there -->
    <script src="js/my-input.js"></script>
  </body>
</html>
