<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>POC HTMX-Rust</title>

    <link rel="stylesheet" href="assets/reset.css" />
    <link rel="stylesheet" href="assets/main.css" />
  </head>
  <body style="padding: 10px">
    <h1 style="font-size: 2rem; margin-bottom: 3rem">HTMX - Rust</h1>

    <button
      hx-post="/clicked"
      hx-trigger="click"
      hx-target="#target-div"
      hx-swap="innerHTML"
    >
      Click me !
    </button>

    <div id="target-div" style="margin: 20px">I'm going to change !</div>

    <script src="assets/htmx.min.js"></script>
  </body>
</html>
